.q {
  /* border: 2px solid red; */
  height: 1000px;
}
.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.favorite-card {
  width: 250px;
  margin: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  img.favorite-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 5px;
  }

  .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 40px;
  }

  .img1,
  .img2 {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .img1 {
    order: 1; /* Помещаем корзину в левую часть */
  }

  .img2 {
    order: 4; /* Помещаем крестик в правую часть */
    margin-left: 150px;
    /* width: 35px; */
  }

  .img1:hover,
  .img2:hover {
    transform: scale(1.2);
  }
}
