.card-containerr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px;
  border-radius: 10px;
  /* border: 2px solid red; */
  background-color: rgb(246, 235, 219);
}

.card {
  margin: 50px;
  border-radius: 6px;
}

.animated-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.animated-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 15px rgb(23, 23, 23);
}

.q {
  /* border: 2px solid red; */
  height: 1000px;
}
