.post-admin-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.post-admin {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.q {
  /* border: 2px solid red; */
  height: 1000px;
}
