/* для карточек юзера */
.product-card {
  background-color: #fff;
  border-radius:  7px;
  box-shadow:  2px  2px  4px rgba(0,  0,  0,  0.15);
  max-width:  320px;
  margin:  20px auto;
  overflow: hidden;
  transition: transform  0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width:  100%;
  height: auto;
}

.product-card h3 {
  font-size:  1.5rem;
  margin-bottom:  10px;
}

.product-card p {
  font-size:  1rem;
  color: #333;
  line-height:  1.5;
  margin-bottom:  5px;
}
