.main-content {
  margin-top: 200px;
}

.nav-sub {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 0.01px solid black;
  background-color: rgb(246, 235, 219);
}

.link-sub {
  text-decoration: none !important;
  color: inherit;
  position: relative;
}

.link-sub::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: burlywood;
  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}

.link-sub:hover::after {
  transform: scaleX(1);
}
