/* Сброс стилей для формы и ее элементов */
form,
fieldset,
select,
textarea,
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding:  0;
  margin:  0;
  box-sizing: border-box;
}

/* Удаление стандартных стилей для input */
input {
  -webkit-appearance: none;
}

/* Сброс стилей для кнопок */
button {
  background-color: transparent;
  border: none;
  padding:  0;
  margin:  0;
  box-sizing: border-box;
}
